@import 'https://fonts.googleapis.com/css?family=Dancing+Script';

img {
    display: block;
    margin: auto;
    margin-top: 25px;
}
.dlinkc {
    color: crimson;
}
#myNavbar {
    margin-left: 340px;
}
#intro {
    color: #00FF00;
    margin: auto;
    text-align: center;
}
#h1 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 2em;
    text-decoration: underline;
}
#h2 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 3em;
    text-decoration: underline;
}
#h3 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 2em;
    text-decoration: underline;
}
#intro2 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}
#mcplaylist {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
#codplaylist {
    display: block;
    margin-bottom:15px;
    text-align: center;
}
#modplaylist {
    display: block;
    margin-bottom:15px;
    text-align: center;
}
#divider {
    background-color: aqua;
}
#dheader{
    color: lawngreen;
    font-size: 15px;
}
#navtext {
    color: lawngreen;
}
#footer {
    color: #00f0ff;
    font-size: 10px;
}
#body {
    margin: auto;
}
#ph1 {
    text-align: center;
    display: block;
    margin-top: 73px;
}
#t1 {
    text-decoration: none;
    color: #00FF00;
}
#bio {
    color: #00FF00;
    margin: auto;
    text-align: center;
}
#h4 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2em;
    text-decoration: underline;
}