@import 'https://fonts.googleapis.com/css?family=Dancing+Script';

img {
    display: block;
    margin: auto;
    margin-top: 25px;
}
.dlinkc {
    color: #00FF00;
}
#myNavbar {
    margin-left: 350px;
}
#Intro {
    color: #00FF00;
    margin: auto;
    text-align: center;
}
#H1 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 3em;
}
#Intro2 {
    color: #00FF00;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}
#MCPlaylist {
    display: block;
    margin-left: 420px;
    margin-right: 420px;
    border: 2px solid aqua;
    margin-bottom: 15px;
    text-align: center;
}
#CoDPlaylist {
    display: block;
    margin-left: 420px;
    margin-right: 420px;
    border: 2px solid aqua;
    margin-bottom:15px;
    text-align: center;
}
#ModPlaylist {
    display: block;
    margin-left: 420px;
    margin-right: 420px;
    border: 2px solid aqua;
    margin-bottom:15px;
    text-align: center;
}
#divider {
    color: aqua;
    c
}
#dheader{
    color: #FFD801;
}